# editor temporary files
*.sublime-*
.DS_Store
*.swp
#*.*#
tags

# direnv config
.env*

# test binaries
*.test

# coverage and profilte outputs
*.out

.idea/goquery.iml
.idea/misc.xml
.idea/modules.xml
.idea/thriftCompiler.xml
.idea/vcs.xml
